<div class="bg-base-100 p-2 pt-4 border-t-4 border-neutral mt-14">
  <div class="container grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8">
    <section>
      Eu sit mollit minim ullamco reprehenderit. Non aliqua enim enim non voluptate incididunt pariatur incididunt ut culpa proident duis. Adipisicing ipsum dolore cillum sit officia nostrud laboris fugiat quis. Anim nulla est do dolore qui eiusmod nisi. Deserunt commodo fugiat elit officia adipisicing dolore ad dolore commodo. Duis consequat in nostrud cillum anim sint minim quis aute laboris fugiat in.
    </section>
    <section>
      Eu sit mollit minim ullamco reprehenderit. Non aliqua enim enim non voluptate incididunt pariatur incididunt ut culpa proident duis. Adipisicing ipsum dolore cillum sit officia nostrud laboris fugiat quis. Anim nulla est do dolore qui eiusmod nisi. Deserunt commodo fugiat elit officia adipisicing dolore ad dolore commodo. Duis consequat in nostrud cillum anim sint minim quis aute laboris fugiat in.
    </section>
    <section>
      Eu sit mollit minim ullamco reprehenderit. Non aliqua enim enim non voluptate incididunt pariatur incididunt ut culpa proident duis. Adipisicing ipsum dolore cillum sit officia nostrud laboris fugiat quis. Anim nulla est do dolore qui eiusmod nisi. Deserunt commodo fugiat elit officia adipisicing dolore ad dolore commodo. Duis consequat in nostrud cillum anim sint minim quis aute laboris fugiat in.
    </section>
  </div>
  <section class="mt-6">
    <h3 class="text-center text-xl font-semibold">
      {{ shop.name }}
    </h3>
  </section>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "mt-auto"
}
{% endschema %}